/* Estilos Chat*/
.chat {
    width: 25%;
    height: auto;
    position: fixed;
    z-index: 100000000;
    bottom: 0px;
    right: 0px;
}

p.title-chat {
    background-color:#00BFFF;
    height: 40px;
    color: white;
    width: 100%;
    border: 1px solid #6a41ed;
    border-radius: 15px 15px 0px 0px;
    font-family: Raleway;
    font-size: 22px;
    padding: 6px 0px 10px 15px;
    margin-bottom: 0px;
    border: 1px solid white;
    border-bottom: none;
}

.box-chat {
    width: 100%;
   	height: auto;
    display: none;
    background-color: white;
}

.body-chat {
    min-height: 200px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: white;
    border: 1px solid #0000001f;
}

.form-chat {
    border: 1px solid #0000001f;
    border-top: none;
    padding:none;
}
.create-chat {
    background-color: #00BFFF;
}
.mensaje-c {
    width: 80%;
    display: inline-block;
    margin-left: 20%;
    padding: 5px;
}

p.cl {
    background-color: dodgerblue;
    text-align: justify;
    border-radius: 5px;
    padding: 4px;
    float: right;
    margin-bottom: 0px;
    margin-left: 20px;
    color: white;
    width: 100%;
    overflow-wrap: break-word;

}

.mensaje-s {
    width: 80%;
    display: inline-block;
    margin-right: 20%;
    padding: 5px;
}

p.se {
    background-color: #2F4F4F;
    border-radius: 10px;
    right: 0px;
    position: relative;
    margin-right: 15%;
    padding: 4px;
    margin-bottom: 0px;
    width: 100%;
    color: white;
    width: 0 auto;
}

span.info-c {
    float: right;
    font-size: 11px;
    position: relative;
    top: -7px;
    right: 5px;
    margin-bottom: 2px;
}

span.info-s {
    float: left;
    font-size: 11px;
    position: relative;
    top: -5px;
    left: 5px;
    margin-bottom: 2px;
}

textarea.input-mensaje {
    width: 70%;
    height: 70px;
    margin: 0px;
    padding: 0px;
    resize: unset;
}

button.btn.btn-primary.button-send {
    width: 23.4%;
    margin: 0px;
    height: 30px;
    padding: 0px;
}

.form-new-chat label{
    width:25%;
}

.form-new-chat input{
    width:50%;
}

.inputs-new-chat {
    margin: 15px 0px;
}

.form-new-chat {
    background-color: white;
    border: 1px solid #0000001f;
    padding: 20px;
}

@media (max-width: 760px) {
    .chat {
        width: 35%;
    }
}

@media (max-width: 560px) {
    .chat {
        width: 80%;
        right: 10%;
    }
}
